@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

/* NAV BELOW */
nav {
  width: 100%;
  height: auto;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: row;
  position: absolute;
}

#navShoppingCartNumber {
  position: fixed;
  font-size: 15px;
  color: rgb(255, 227, 71);
  text-align: center;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: 6%;
}

.navLinkContainer {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.navLinks {
  font-family: "Times New Roman", Times, serif;
  color: rgb(226, 226, 226);
  font-size: 25px;
  list-style: none;
  transition: all 0.2s ease-in-out;
}

.navLinks:hover {
  transform: scale(1.3);
}

/* NAV ABOVE */
/* HOME SCREEN BELOW */

#homeScreen {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-image: url("/src/backgroundImages/pokeballBackground.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100vw;
}

#homeScreenWelcome {
  font-family: "VT323", monospace;
  color: yellow;
  font-size: 30px;
  text-align: center;
  width: 100vw;
  margin-top: 9vh;
  /* border-bottom: 1px dotted yellow; */
}

#homeScreenWelcomeTitle {
  padding-bottom: 2vh;
  font-size: 40px;
}

#homeScreenWelcomeMessage {
  margin: auto;
  width: 60vw;
}

#homeScreenCommandNote {
  margin-top: 2vh;
}

#searchItems {
  margin-top: 5vh;
  margin-bottom: 5vh;
  font-size: 25px;
  background: none;
  outline: none;
  color: orange;
}

.showcaseAllScreen {
  display: flex;
  width: 100%;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

.showcaseAllScreen::-webkit-scrollbar {
  display: none;
}

.showcaseHomeCards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5vh;
  height: 40%;
  width: 95%;
}

/* HOME SCREEN ABOVE*/
/* STORE SCREEN BELOW */

#shopMainScreen {
  background-image: url("/src/backgroundImages/pokeballBackground.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style-type: none;
}

.shopMainImgPokemon {
  background-image: url("/src/backgroundImages/lugiaBackground.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  width: 25vw;
  height: 25vw;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}

.shopMainImgItems {
  background-image: url("/src/backgroundImages/pokeballStoreBackground.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom;
  width: 25vw;
  height: 25vw;
  transition: all 0.2s ease-in-out;
  border-radius: 50%;
}

.shopMainImgPokemon:hover {
  transform: scale(1.3);
  cursor: pointer;
}

.shopMainImgItems:hover {
  transform: scale(1.3);
  cursor: pointer;
}

/* STORE SCREEN ABOVE */
/* STORE - SHOP POKEMON SCREEN BELOW */

.showcasePokemonScreen {
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("/src/backgroundImages/lugiaBackground.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  overflow-y: scroll;
}

.showcasePokemonScreen::-webkit-scrollbar {
  display: none;
}

.showcasePokemonTitle {
  font-family: "VT323", monospace;
  margin-top: 10vh;
  font-size: 30px;
  color: rgb(251, 255, 4);
}

.showcasePokemonCards {
  display: flex;
  justify-content: center;
  flex-direction: row;
  flex-wrap: wrap;
  margin-top: 5vh;
  height: 40%;
}

.shopPokemonCard {
  width: 200px;
  height: 220px;
  text-align: center;
  margin-left: 1%;
  transition: all 0.2s ease-in-out;
}

.shopPokemonCard:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.shopPokemonCardImage {
  height: 50%;
}

.shopPokemonCardText {
  border-top: 2px solid rgb(255, 255, 255);
  color: white;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 11px;
}

#pageTrackingManagement {
  margin-top: auto;
  margin-bottom: 4vh;
  color: white;
  display: flex;
  justify-content: space-around;
  width: 20%;
  align-items: center;
}

.changePokemonPage {
  background: none;
  border: none;
  height: 50px;
  width: 100px;
  font-size: 45px;
  color: white;
}

/* STORE - SHOP POKEMON SCREEN ABOVE */
/* STORE - SHOP ITEMS SCREEN BELOW */

#showcasePokeballsScreen {
  background: linear-gradient(rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.2)),
    url("/src/backgroundImages/pokeballStoreBackground.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  /* justify-content: flex-start; */
  width: 100%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
  overflow-y: scroll;
}

#showcasePokeballsScreen::-webkit-scrollbar {
  display: none;
}

/* STORE - SHOP ITEMS SCREEN ABOVE*/
/* STORE - SHOP SPECIFIC POKEMON/ITEM SCREEN BELOW */

.showcaseSpecificPokemonScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("./backgroundImages/pokemonLandscape.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.shopSpecificPokemonCard {
  width: 100%;
  height: max-content;
  text-align: center;
  justify-content: space-around;
  align-items: center;
  margin-top: 14%;
  margin-bottom: 15%;
  display: flex;
  flex-direction: row;
}

.shopSpecificPokemonCardLeftSide {
  margin-left: auto;
}

.shopSpecificPokemonCardLeftSideName {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 40px;
}

.shopSpecificPokemonCardLeftSideImage {
  height: 300px;
}

#cartUpdatingNotice {
  display: none;
  position: relative;
  margin: 0 auto;
  margin-top: 50px;
  width: fit-content;
  text-align: center;
  font-size: large;
  font-family: "Press Start 2P", cursive;
  background-color: rgba(0, 0, 0, 0.555);
  padding: 20px;
  color: rgb(236, 223, 33);
}

.shopSpecificPokemonCardLeftSideQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.shopSpecificPokemonCardLeftSideInput {
  font-size: 30px;
  color: white;
  width: 30%;
  text-align: center;
  background: none;
  border: none;
  outline: none;
}

.shopSpecificPokemonCardLeftSideInput::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.shopSpecificPokemonCardLeftSideButtonIncDec {
  background: none;
  color: rgb(255, 255, 255);
  font-size: 30px;
  font-weight: bold;
  width: 2vw;
  text-align: center;
}

.shopSpecificPokemonCardLeftSideButtonIncDec:hover {
  cursor: pointer;
}

.addToCart {
  font-family: "Press Start 2P", cursive;
  position: relative;
  top: 3vh;
  color: rgb(151, 255, 142);
  background: none;
  border: none;
  font-size: 20px;
}

.shopSpecificPokemonCardRightSide {
  color: white;
  margin-top: 4%;
  width: 40%;
  margin: auto;
  text-align: center;
  border: 2px solid rgba(255, 255, 255, 0.555);
  border-bottom: none;
}

.shopSpecificPokemonCardRightSideDetailsTitle {
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border-bottom: 2px solid rgba(255, 255, 255, 0.555);
}

.shopSpecificPokemonCardRightSideTextBlocks {
  border-bottom: 2px solid rgba(255, 255, 255, 0.555);
  padding: 5px;
}

.shopSpecificPokemonCardRightSideSubTitle {
  font-size: 19px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
}

.shopSpecificPokemonCardRightSideDescription {
  font-style: italic;
  padding-bottom: 10px;
}
/* STORE - SHOP SPECIFIC POKEMON SCREEN ABOVE */
/* STORE - SHOP SPECIFIC ITEM SCREEN BELOW */

.shopSpecificPokeballLeftSideImage {
  height: 250px;
}
/* STORE - SHOP SPECIFIC ITEM SCREEN ABOVE */
/* SHOPPING CART IS BELOW*/

#shoppingCartEmpty {
  background-image: url("/src/backgroundImages/pokeballBackground.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  color: rgba(255, 255, 255, 0.541);
  display: flex;
  justify-content: center;
}

#shoppingCartEmptyText {
  margin-top: 17vh;
  color: rgba(255, 255, 255, 0.541);
  font-size: 40px;
}

#shoppingCartScreen {
  background-image: url("/src/backgroundImages/pokeballBackground.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
}

#shoppingCartData {
  padding-top: 10vh;
  margin-bottom: 20px;
  overflow-y: scroll;
  max-height: 70vh;
}

#shoppingCartData::-webkit-scrollbar {
  display: none;
}

.shoppingCartItem {
  color: white;
  border-top: 2px solid rgba(255, 253, 253, 0.623);
  padding-top: 2vh;
  padding-bottom: 1vh;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  font-size: 20px;
}

.shoppingCartItemName {
  font-family: "Press Start 2P", cursive;
}

.shoppingCartItemImg {
  min-width: 70px;
}

.shoppingCartItemQuantityInput {
  color: orange;
  text-align: center;
  width: 40%;
  height: 10%;
  position: relative;
  left: 5%;
  background: none;
  outline: none;
  font-size: 20px;
}

.shoppingCartItemSubContainer {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}

.shoppingCartItemSubContainerTitle {
  font-weight: 600;
}

.shoppingCartItemSubContainerNumber {
  font-style: italic;
  position: relative;
  left: 1vw;
  color: yellow;
}

.shoppingCartItemRemoveBtn {
  color: rgb(153, 153, 153);
  background: none;
  border: none;
  font-size: 20px;
}

.shoppingCartItemRemoveBtn:hover {
  cursor: pointer;
}

.shoppingCartCumulativeTotals {
  border-top: 2px solid rgba(255, 253, 253, 0.623);
  color: white;
  padding-top: 2vh;
}

.shoppingCartCumulativeTotalsContainers {
  font-family: "VT323", monospace;
  width: 50%;
  display: flex;
  justify-content: space-between;
  padding-top: 1vh;
}

.shoppingCartCumulativeTotalsTitles {
  font-size: 35px;
}

.shoppingCartCumulativeTotalsNumbers {
  font-family: "Times New Roman", Times, serif;
  font-style: italic;
  font-size: 30px;
  color: rgb(182, 182, 182);
  text-decoration: underline;
}

/* SHOPPING CART IS ABOVE*/

#loadingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("./backgroundImages/pokemonLandscape.JPG");
  background-position: center;
  background-size: cover;
}

.spinner-4 {
  width: 200px;
  height: 200px;
  display: grid;
  animation: s4 4s infinite;
}
.spinner-4::before,
.spinner-4::after {
  content: "";
  grid-area: 1/1;
  border: 25px solid;
  border-radius: 50%;
  border-color: red red #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}
.spinner-4::after {
  border-color: #0000 #0000 blue blue;
  animation-direction: reverse;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn);
  }
}
