@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

nav {
  color: white;
  width: 100%;
  background-color: rgb(180, 180, 241);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

#navShoppingCartNumber {
  background-color: red;
  color: white;
  text-align: center;
  border-radius: 50%;
  width: 10px;
  height: 10px;
}

.navLinks {
  width: 40%;
  color: white;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

.cartNotice {
  display: none;
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  font-size: large;
  color: white;
}

/* SEPERATE */

.showcasePokemonScreen {
  padding-top: 60px;
  display: flex;
  /* justify-content: flex-start; */
  flex-direction: column;
  align-items: center;
  background-image: url("/src/backgroundImages/pokemonNursery.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
  position: absolute;
  overflow-y: scroll;
}

.searchItems {
  position: absolute;
  top: 40px;
}

.showcasePokemonTitle {
  font-size: 30px;
  color: rgb(251, 255, 4);
}

.showcasePokemonCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

  height: 100%;
}

.shopPokemonCard {
  /* border: 2px solid black; */
  width: 200px;
  height: 250px;
  text-align: center;
  /* margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%; */
  margin-left: auto;
  transition: all 0.2s ease-in-out;
}

.shopPokemonCard:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.shopPokemonCardImage {
  height: 200px;
}

.shopPokemonCardText {
  border-top: 2px solid rgb(255, 255, 255);
  color: white;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 11px;
}

/* ^^^^^^^^^ For pokemon shop NOT specific pokemon */

.showcaseSpecificPokemonScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  /* background-image: url("./backgroundImages/pokemonLandscape.JPG"); */
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("./backgroundImages/pokemonLandscape.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

.shopSpecificPokemonCard {
  width: max-content;
  height: max-content;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 15%;
  display: flex;
  flex-direction: row;
}

.specificPokemonTitleAndImage {
  margin-top: 3%;
  margin-left: auto;
}

.shopSpecificPokemonCardImages {
  display: flex;
  flex-direction: row;
}

.shopSpecificPokemonCardImage {
  height: 400px;
}

.shopSpecificPokemonCardName {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 40px;
  padding-top: 60px;
}

.specificPokemonCardDetailsTitle {
  color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border: 2px solid rgba(255, 255, 255, 0.555);
  border-bottom: none;
}

.specificPokemonCardDetails {
  color: white;
  margin-top: 4%;
  width: 40%;
  margin-right: auto;
}

.specificPokemonSubTitle {
  font-size: 19px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
}

.specificPokemonDescription {
  border: 2px solid rgba(255, 255, 255, 0.555);
  padding: 5px;
}

.shopSpecificPokemonCardDescription {
  font-style: italic;
  padding-bottom: 10px;
}

.specificPokemonPotentialMoves {
  border: 2px solid rgba(255, 255, 255, 0.555);
  border-top: none;
  padding: 5px;
}

.specificPokemonMovesList {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.specificPokemonQuantity {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.specificPokemonQuantityDisplay {
  color: white;
  text-align: center;
  background: none;
  border: none;
}

/* BELOW IS POKEBALLS CSS */

#showcaseAllPokeballs {
  display: flex;
  width: 100%;
  height: 100vh;
  flex-direction: row;
  flex-wrap: wrap;
}

.shopShowcasePokeballs {
  width: 300px;
}

.shopPokeballCardImage {
  height: 150px;
  padding-top: 50px;
}

/* BELOW IS SPECIFIC POKEBALLS CSS */

.specificPokeballScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.5)),
    url("./backgroundImages/pokemonLandscape.JPG");
  background-position: center;
  background-size: cover;
  height: 100vh;
}

.specificPokeballCard {
  display: flex;
  color: white;
  margin-bottom: 7%;
}

.specificPokeballCardLeftSide {
  margin-top: 40px;
  width: 400px;
  text-align: center;
}

.specificPokeballCardName {
  display: flex;
  justify-content: center;
  font-family: "Press Start 2P", cursive;
  font-size: 30px;
  color: cadetblue;
}

.specificPokeballCardImage {
  width: 250px;
}

.specificPokeballCardRightSide {
  border: 2px solid rgba(255, 255, 255, 0.555);
  border-top: none;
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-left: 10%;
  width: 430px;
}

.specificPokeballSubheading {
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border-top: 2px solid rgba(255, 255, 255, 0.555);
  width: 400px;
  text-align: center;
}

.specificPokeballTextData {
  width: 400px;
  text-align: center;
  font-style: italic;
  padding-top: 10px;
  padding-bottom: 20px;
}

#loadingContainer {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.8)),
    url("./backgroundImages/pokemonLandscape.JPG");
  background-position: center;
  background-size: cover;
}

.spinner-4 {
  width: 200px;
  height: 200px;
  display: grid;
  animation: s4 4s infinite;
}
.spinner-4::before,
.spinner-4::after {
  content: "";
  grid-area: 1/1;
  border: 25px solid;
  border-radius: 50%;
  border-color: red red #0000 #0000;
  mix-blend-mode: darken;
  animation: s4 1s infinite linear;
}
.spinner-4::after {
  border-color: #0000 #0000 blue blue;
  animation-direction: reverse;
}

@keyframes s4 {
  100% {
    transform: rotate(1turn);
  }
}
