@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");

nav {
  color: white;
  width: 100%;
  background-color: rgb(180, 180, 241);
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
}

.navLinks {
  width: 40%;
  color: white;
  display: flex;
  justify-content: space-around;
  list-style: none;
}

/* SEPERATE */

.showcasePokemonScreen {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url("/src/backgroundImages/pokemonNursery.JPG");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 1500px;
}

.showcasePokemonTitle {
  font-size: 30px;
  color: rgb(251, 255, 4);
}

.showcasePokemonCards {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  /* background: url("/src/backgroundImages/pokemonNursery.JPG"); */
  height: 100%;
}

.shopPokemonCard {
  /* border: 2px solid black; */
  width: 200px;
  height: 250px;
  text-align: center;
  margin-left: 10%;
  margin-top: 1%;
  margin-bottom: 1%;
  transition: all 0.2s ease-in-out;
}

.shopPokemonCard:hover {
  transform: scale(1.1);
  cursor: pointer;
}

.shopPokemonCardImage {
  height: 200px;
}

.shopPokemonCardText {
  border-top: 2px solid rgb(255, 255, 255);
  color: white;
  font-size: 20px;
  padding-top: 10px;
  padding-bottom: 11px;
}

/* ^^^^^^^^^ For pokemon shop NOT specific pokemon */

.showcaseSpecificPokemonScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url("./backgroundImages/pokemonLandscape.JPG");
  background-repeat: no-repeat;
  background-size: cover;
}

.shopSpecificPokemonCard {
  width: max-content;
  height: max-content;
  text-align: center;
  margin-top: 1%;
  margin-bottom: 15%;
  display: flex;
  flex-direction: row;
}

.specificPokemonTitleAndImage {
  margin-top: 8%;
}

.shopSpecificPokemonCardImages {
  display: flex;
  flex-direction: row;
}

.shopSpecificPokemonCardImage {
  height: 400px;
}

.shopSpecificPokemonCardName {
  font-family: "Press Start 2P", cursive;
  color: white;
  font-size: 40px;
  padding-top: 60px;
}

.specificPokemonCardDetailsTitle {
  color: white;
  font-weight: bold;
  padding-top: 10px;
  padding-bottom: 10px;
  font-size: 20px;
  border: 2px solid rgba(255, 255, 255, 0.555);
  border-bottom: none;
}

.specificPokemonCardDetails {
  color: white;
  margin-top: 4%;
}

.specificPokemonSubTitle {
  font-size: 19px;
  font-weight: 500;
  padding-top: 5px;
  padding-bottom: 5px;
}

.specificPokemonDescription {
  border: 2px solid rgba(255, 255, 255, 0.555);
  padding: 5px;
}

.shopSpecificPokemonCardDescription {
  font-style: italic;
  padding-bottom: 10px;
}

.specificPokemonPotentialMoves {
  border: 2px solid rgba(255, 255, 255, 0.555);
  border-top: none;
  padding: 5px;
}

.specificPokemonMovesList {
  display: flex;
  justify-content: center;
  flex-direction: column;
}
